<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Últimos Posts do Blog</title>
    <link rel="stylesheet" type="text/css" href="styles/paginaInicial.css">
</head>
<body>
    <h1>Últimos Posts do Blog</h1>
    <div class="container">
        <div class="card">
            <img alt="Placeholder image for Post 1" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-DJgwsW7vG5zqsMYUI2hYLQtA.png?st=2024-09-29T17%3A58%3A45Z&amp;se=2024-09-29T19%3A58%3A45Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-29T01%3A05%3A10Z&amp;ske=2024-09-30T01%3A05%3A10Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=65u2s5qEt055f7sbyl9uvozaDDuxy8eq0H85GJEEbg0%3D" width="400" height="200"/>
            <div class="card-content">
                <h2 class="card-title">Título do Post 1</h2>
                <p class="card-description">Uma breve descrição sobre o conteúdo do post. Este post fala sobre...</p>
                <a class="card-button" href="#">Leia mais</a>
            </div>
        </div>
        <div class="card">
            <img alt="Placeholder image for Post 2" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-swXfEFdjZULm5sUsZeEiKymn.png?st=2024-09-29T17%3A58%3A49Z&amp;se=2024-09-29T19%3A58%3A49Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-29T01%3A05%3A22Z&amp;ske=2024-09-30T01%3A05%3A22Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=edlHUYR7ZWxLUT3rifo6yvKYAJdrpt6HJ/tvp4j7ynQ%3D" width="400" height="200"/>
            <div class="card-content">
                <h2 class="card-title">Título do Post 2</h2>
                <p class="card-description">Uma breve descrição sobre o conteúdo do post. Este post fala sobre...</p>
                <a class="card-button" href="#">Leia mais</a>
            </div>
        </div>
        <div class="card">
            <img alt="Placeholder image for Post 3" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-aHO6HsKejhWXxB2Z3Qy01s7c.png?st=2024-09-29T17%3A58%3A46Z&amp;se=2024-09-29T19%3A58%3A46Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-29T01%3A54%3A22Z&amp;ske=2024-09-30T01%3A54%3A22Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=DMHg8WkmIMKyokK98tuUNFevD/4lBgy7ukCbTuXdKR4%3D" width="400" height="200"/>
            <div class="card-content">
                <h2 class="card-title">Título do Post 3</h2>
                <p class="card-description">Uma breve descrição sobre o conteúdo do post. Este post fala sobre...</p>
                <a class="card-button" href="#">Leia mais</a>
            </div>
        </div>
        <div class="card">
            <img alt="Placeholder image for Post 4" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-sbF3ZLfoy2vWTbgwqC4S7MOX.png?st=2024-09-29T17%3A58%3A49Z&amp;se=2024-09-29T19%3A58%3A49Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-29T16%3A12%3A50Z&amp;ske=2024-09-30T16%3A12%3A50Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=IRlJp1rl6X9MOdDfWCfBN5xPtURUlf8nNFXm8TVzKCs%3D" width="400" height="200"/>
            <div class="card-content">
                <h2 class="card-title">Título do Post 4</h2>
                <p class="card-description">Uma breve descrição sobre o conteúdo do post. Este post fala sobre...</p>
                <a class="card-button" href="#">Leia mais</a>
            </div>
        </div>
        <div class="card">
            <img alt="Placeholder image for Post 5" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-MJiW8dsscIVRhEMXTcVCHfom.png?st=2024-09-29T17%3A58%3A47Z&amp;se=2024-09-29T19%3A58%3A47Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-29T01%3A08%3A14Z&amp;ske=2024-09-30T01%3A08%3A14Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=yx5MSYD2SNJMg6h/kdugS1z4ZebIAv9cSwbl8DiQtmc%3D" width="400" height="200"/>
            <div class="card-content">
                <h2 class="card-title">Título do Post 5</h2>
                <p class="card-description">Uma breve descrição sobre o conteúdo do post. Este post fala sobre...</p>
                <a class="card-button" href="#">Leia mais</a>
            </div>
        </div>
    </div>
</body>
</html>
